.serviceCon h1 {
    margin-top: 0;
}

.serviceItem {
    display: inline-block;
    width: 100%;
    padding: 50px 0;
    position: relative;
    margin-top: 15px;
}

.serviceItem figure {
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;
    top: 0;
}

.serviceItem figure img {
    position: absolute;
    top: -100%;
    bottom: -100%;
    margin: auto;
    width: 100%;
}

.serviceItem:nth-child(odd) figure {
    float: left;
    left: 0;
}

.serviceItem:nth-child(even) figure {
    float: right;
    right: 0;
}

.serviceItem:nth-child(odd) p {
    float: right;
    width: 50%;
    padding-left: 20px;
}

.serviceItem:nth-child(even) p {
    float: left;
    width: 50%;
    padding-right: 20px;
}

.serviceItem:nth-child(even) figure:after {
    width: 0;
    content: '';
    height: 0;
    border-right: 0px solid transparen;
    border-left: 131px solid #ffffff;
    border-bottom: 300px solid transparent;
    margin: auto;
    position: absolute;
    left: 0;
    top: -100%;
    bottom: -100%;
}

.serviceItem:nth-child(odd) figure:after {
    width: 0;
    content: '';
    height: 0;
    border-left: 0px solid transparent;
    border-right: 131px solid #ffffff;
    border-bottom: 300px solid transparent;
    margin: auto;
    position: absolute;
    right: 0;
    top: -100%;
    bottom: -100%;
}

@media screen and (max-width: 700px) {
    .serviceItem {
        padding: 10px 0;

        .serviceItem figure {
            position: static;
            width: 100%;
        }

        .serviceItem figure img {
            position: static;
            width: 100%;
        }

        .serviceItem:nth-child(even) figure:after {
            width: 0;
            content: '';
            height: 0;
            border: none;
            position: static;
        }

        .serviceItem:nth-child(odd) figure:after {
            width: 0;
            content: '';
            height: 0;
            border: none;
            position: static;
        }

        .serviceItem p {
            width: 100%;
            padding-left: 0;
            padding-right: 0;
            padding-top: 20px;
        }
    }
}
